*.iml
.gradle
gradlew
gradlew.bat
gradle
local.properties
.idea
.DS_Store
build
/captures
.externalNativeBuild
.cxx

# Project exclude paths
/out/
/gui/out/production/classes/at/aau/ainf/gitrepomonitor/gui/AlertDisplay.class
/gui/out/production/resources/at/aau/ainf/gitrepomonitor/gui/auth/auth_list.css
/gui/out/production/resources/at/aau/ainf/gitrepomonitor/gui/auth/auth_list.fxml
/core/out/production/classes/at/aau/ainf/gitrepomonitor/core/files/authentication/AuthenticationCredentials.class
/core/out/production/classes/at/aau/ainf/gitrepomonitor/core/files/authentication/Authenticator.class
/gui/out/production/classes/at/aau/ainf/gitrepomonitor/gui/auth/AuthInfoCellFactory$AuthInfoContextMenu.class
/gui/out/production/classes/at/aau/ainf/gitrepomonitor/gui/auth/AuthInfoCellFactory$AuthInfoListViewCell.class
/gui/out/production/classes/at/aau/ainf/gitrepomonitor/gui/auth/AuthInfoCellFactory.class
/gui/out/production/classes/at/aau/ainf/gitrepomonitor/gui/editrepo/AuthInfoNone.class
/core/out/production/classes/at/aau/ainf/gitrepomonitor/core/git/Branch.class
/gui/out/production/classes/at/aau/ainf/gitrepomonitor/gui/main/BranchListCell.class
/gui/out/production/resources/at/aau/ainf/gitrepomonitor/gui/main/commit_log_view.fxml
/gui/out/production/resources/at/aau/ainf/gitrepomonitor/gui/main/commit_view.fxml
/core/out/production/classes/at/aau/ainf/gitrepomonitor/core/git/CommitChange.class
/gui/out/production/classes/at/aau/ainf/gitrepomonitor/gui/main/CommitLogView.class
/gui/out/production/classes/at/aau/ainf/gitrepomonitor/gui/main/CommitView$1.class
/gui/out/production/classes/at/aau/ainf/gitrepomonitor/gui/main/CommitView$FileChange.class
/gui/out/production/classes/at/aau/ainf/gitrepomonitor/gui/main/CommitView.class
/core/out/production/classes/at/aau/ainf/gitrepomonitor/core/git/ConnectionTestCallback.class
/gui/out/production/classes/at/aau/ainf/gitrepomonitor/gui/auth/ControllerAuthList$KeyPressHandler.class
/gui/out/production/classes/at/aau/ainf/gitrepomonitor/gui/auth/ControllerAuthList.class
/gui/out/production/classes/at/aau/ainf/gitrepomonitor/gui/auth/ControllerEditAuth.class
/gui/out/production/classes/at/aau/ainf/gitrepomonitor/gui/editrepo/ControllerEditRepo$1$1.class
/gui/out/production/classes/at/aau/ainf/gitrepomonitor/gui/editrepo/ControllerEditRepo$1.class
/gui/out/production/classes/at/aau/ainf/gitrepomonitor/gui/editrepo/ControllerEditRepo$2.class
/gui/out/production/classes/at/aau/ainf/gitrepomonitor/gui/editrepo/ControllerEditRepo.class
/gui/out/production/classes/at/aau/ainf/gitrepomonitor/gui/main/ControllerMain$1.class
/gui/out/production/classes/at/aau/ainf/gitrepomonitor/gui/main/ControllerMain.class
/gui/out/production/classes/at/aau/ainf/gitrepomonitor/gui/main/ControllerPullResults$PullResultListViewCell.class
/gui/out/production/classes/at/aau/ainf/gitrepomonitor/gui/main/ControllerPullResults.class
/gui/out/production/classes/at/aau/ainf/gitrepomonitor/gui/reposcan/ControllerScan.class
/gui/out/production/classes/at/aau/ainf/gitrepomonitor/gui/settings/ControllerSettings$1.class
/gui/out/production/classes/at/aau/ainf/gitrepomonitor/gui/settings/ControllerSettings.class
/gui/out/production/resources/at/aau/ainf/gitrepomonitor/gui/auth/edit_auth.css
/gui/out/production/resources/at/aau/ainf/gitrepomonitor/gui/auth/edit_auth.fxml
/gui/out/production/resources/at/aau/ainf/gitrepomonitor/gui/editrepo/edit_repo.css
/gui/out/production/resources/at/aau/ainf/gitrepomonitor/gui/editrepo/edit_repo.fxml
/gui/out/production/resources/at/aau/ainf/gitrepomonitor/gui/main/file_change.fxml
/core/out/production/classes/at/aau/ainf/gitrepomonitor/core/files/FileErrorListener.class
/core/out/production/classes/at/aau/ainf/gitrepomonitor/core/files/FileManager$1.class
/core/out/production/classes/at/aau/ainf/gitrepomonitor/core/files/FileManager$RepoList.class
/core/out/production/classes/at/aau/ainf/gitrepomonitor/core/files/FileManager.class
/core/out/production/classes/at/aau/ainf/gitrepomonitor/core/files/FileMonitor$Listener.class
/core/out/production/classes/at/aau/ainf/gitrepomonitor/core/files/FileMonitor.class
/core/out/production/classes/at/aau/ainf/gitrepomonitor/core/files/FileOperationCallback.class
/core/out/production/classes/at/aau/ainf/gitrepomonitor/core/git/GitManager.class
/gui/out/production/classes/at/aau/ainf/gitrepomonitor/GUIStarter.class
/core/out/production/classes/at/aau/ainf/gitrepomonitor/core/files/authentication/HttpsCredentials.class
/gui/out/production/resources/at/aau/ainf/gitrepomonitor/gui/icons/icon_added.png
/gui/out/production/resources/at/aau/ainf/gitrepomonitor/gui/icons/icon_app.png
/gui/out/production/resources/at/aau/ainf/gitrepomonitor/gui/icons/icon_attention.png
/gui/out/production/resources/at/aau/ainf/gitrepomonitor/gui/icons/icon_check.png
/gui/out/production/resources/at/aau/ainf/gitrepomonitor/gui/icons/icon_delete.png
/gui/out/production/resources/at/aau/ainf/gitrepomonitor/gui/icons/icon_edit.png
/gui/out/production/resources/at/aau/ainf/gitrepomonitor/gui/icons/icon_edited.png
/gui/out/production/resources/at/aau/ainf/gitrepomonitor/gui/icons/icon_empty.png
/gui/out/production/resources/at/aau/ainf/gitrepomonitor/gui/icons/icon_explorer.png
/gui/out/production/resources/at/aau/ainf/gitrepomonitor/gui/icons/icon_hidden.png
/gui/out/production/resources/at/aau/ainf/gitrepomonitor/gui/icons/icon_key.png
/gui/out/production/resources/at/aau/ainf/gitrepomonitor/gui/icons/icon_lock.png
/gui/out/production/resources/at/aau/ainf/gitrepomonitor/gui/icons/icon_merge.png
/gui/out/production/resources/at/aau/ainf/gitrepomonitor/gui/icons/icon_missing_folder.png
/gui/out/production/resources/at/aau/ainf/gitrepomonitor/gui/icons/icon_missing_remote.png
/gui/out/production/resources/at/aau/ainf/gitrepomonitor/gui/icons/icon_new.png
/gui/out/production/resources/at/aau/ainf/gitrepomonitor/gui/icons/icon_plus.png
/gui/out/production/resources/at/aau/ainf/gitrepomonitor/gui/icons/icon_pull.png
/gui/out/production/resources/at/aau/ainf/gitrepomonitor/gui/icons/icon_pull_push.png
/gui/out/production/resources/at/aau/ainf/gitrepomonitor/gui/icons/icon_push.png
/gui/out/production/resources/at/aau/ainf/gitrepomonitor/gui/icons/icon_remote.png
/gui/out/production/resources/at/aau/ainf/gitrepomonitor/gui/icons/icon_removed.png
/gui/out/production/resources/at/aau/ainf/gitrepomonitor/gui/icons/icon_scan.png
/gui/out/production/resources/at/aau/ainf/gitrepomonitor/gui/icons/icon_settings.png
/gui/out/production/resources/at/aau/ainf/gitrepomonitor/gui/icons/icon_update_status.png
/gui/out/production/resources/at/aau/ainf/gitrepomonitor/gui/icons/icon_visible.png
/gui/out/production/resources/at/aau/ainf/gitrepomonitor/localization/lang.properties
/gui/out/production/resources/at/aau/ainf/gitrepomonitor/localization/lang_en.properties
/core/out/production/classes/at/aau/ainf/gitrepomonitor/core/git/LogCallback.class
/gui/out/production/classes/at/aau/ainf/gitrepomonitor/Main.class
/gui/out/production/resources/at/aau/ainf/gitrepomonitor/gui/main/main.css
/gui/out/production/resources/at/aau/ainf/gitrepomonitor/gui/main/main.fxml
/core/out/production/classes/at/aau/ainf/gitrepomonitor/core/files/authentication/MasterPasswordAuthInfo.class
/gui/out/production/classes/at/aau/ainf/gitrepomonitor/gui/MasterPasswordQuery$ChangeListenerPassword.class
/gui/out/production/classes/at/aau/ainf/gitrepomonitor/gui/MasterPasswordQuery.class
/gui/out/production/resources/at/aau/ainf/gitrepomonitor/gui/main/pull_result_list.fxml
/gui/out/production/resources/at/aau/ainf/gitrepomonitor/gui/main/pull_result_list_item.fxml
/core/out/production/classes/at/aau/ainf/gitrepomonitor/core/git/PullCallback$PullResult.class
/core/out/production/classes/at/aau/ainf/gitrepomonitor/core/git/PullCallback.class
/core/out/production/classes/at/aau/ainf/gitrepomonitor/core/git/PullListener.class
/gui/out/production/resources/at/aau/ainf/gitrepomonitor/gui/repo_list_item.fxml
/core/out/production/classes/at/aau/ainf/gitrepomonitor/core/files/RepoScanCallback.class
/core/out/production/classes/at/aau/ainf/gitrepomonitor/core/files/RepoScanner.class
/gui/out/production/classes/at/aau/ainf/gitrepomonitor/gui/reposcan/RepoSearchTask$1.class
/gui/out/production/classes/at/aau/ainf/gitrepomonitor/gui/reposcan/RepoSearchTask.class
/core/out/production/classes/at/aau/ainf/gitrepomonitor/core/files/RepositoryInformation$AuthMethod.class
/core/out/production/classes/at/aau/ainf/gitrepomonitor/core/files/RepositoryInformation$MergeStrategy.class
/core/out/production/classes/at/aau/ainf/gitrepomonitor/core/files/RepositoryInformation$RepoStatus.class
/core/out/production/classes/at/aau/ainf/gitrepomonitor/core/files/RepositoryInformation.class
/gui/out/production/classes/at/aau/ainf/gitrepomonitor/gui/repolist/RepositoryInformationContextMenu.class
/gui/out/production/classes/at/aau/ainf/gitrepomonitor/gui/repolist/RepositoryInformationKeyPressHandler.class
/gui/out/production/classes/at/aau/ainf/gitrepomonitor/gui/repolist/RepositoryInformationListCellFactory.class
/gui/out/production/classes/at/aau/ainf/gitrepomonitor/gui/repolist/RepositoryInformationListViewCell$1.class
/gui/out/production/classes/at/aau/ainf/gitrepomonitor/gui/repolist/RepositoryInformationListViewCell.class
/gui/out/production/classes/at/aau/ainf/gitrepomonitor/gui/repolist/RepositoryInformationNameCell$1.class
/gui/out/production/classes/at/aau/ainf/gitrepomonitor/gui/repolist/RepositoryInformationNameCell.class
/gui/out/production/classes/at/aau/ainf/gitrepomonitor/gui/repolist/RepositoryInformationTableRowFactory.class
/gui/out/production/classes/at/aau/ainf/gitrepomonitor/gui/ResourceStore.class
/gui/out/production/resources/at/aau/ainf/gitrepomonitor/gui/reposcan/scan.css
/gui/out/production/resources/at/aau/ainf/gitrepomonitor/gui/reposcan/scan.fxml
/core/out/production/classes/at/aau/ainf/gitrepomonitor/core/files/authentication/SecureFileStorage$1.class
/core/out/production/classes/at/aau/ainf/gitrepomonitor/core/files/authentication/SecureFileStorage.class
/core/out/production/classes/at/aau/ainf/gitrepomonitor/core/files/authentication/SecureStorage$1.class
/core/out/production/classes/at/aau/ainf/gitrepomonitor/core/files/authentication/SecureStorage.class
/core/out/production/classes/at/aau/ainf/gitrepomonitor/core/files/Settings$1.class
/core/out/production/classes/at/aau/ainf/gitrepomonitor/core/files/Settings$CacheClearMethod.class
/core/out/production/classes/at/aau/ainf/gitrepomonitor/core/files/Settings.class
/gui/out/production/resources/at/aau/ainf/gitrepomonitor/gui/settings/settings.css
/gui/out/production/resources/at/aau/ainf/gitrepomonitor/gui/settings/settings.fxml
/core/out/production/classes/at/aau/ainf/gitrepomonitor/core/files/authentication/SslCredentials.class
/core/out/production/classes/at/aau/ainf/gitrepomonitor/core/git/SSLTransportConfigCallback$1.class
/core/out/production/classes/at/aau/ainf/gitrepomonitor/core/git/SSLTransportConfigCallback.class
/gui/out/production/classes/at/aau/ainf/gitrepomonitor/gui/StatusBarController$1.class
/gui/out/production/classes/at/aau/ainf/gitrepomonitor/gui/StatusBarController$MainProgressMonitor.class
/gui/out/production/classes/at/aau/ainf/gitrepomonitor/gui/StatusBarController.class
/gui/out/production/classes/at/aau/ainf/gitrepomonitor/gui/StatusDisplay.class
/core/out/production/classes/at/aau/ainf/gitrepomonitor/core/files/StoragePath.class
/core/out/production/classes/at/aau/ainf/gitrepomonitor/core/git/UpdateStatusCallback.class
/core/out/production/classes/at/aau/ainf/gitrepomonitor/core/files/Utils.class
